/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styl dla przycisku ustawien */
.settings-btn {
  transition: transform 0.3s ease-in-out;
}

/* Obrot przycisku po najechaniu */
.settings-btn:hover {
  transform: rotate(25deg);
}
